<template>
	<div>
		<h1>Členové</h1>
		<div class="innerbody">
			<h3>To jsme my.</h3>
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/krystof.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>Kryštof Verner - Zlato</h3>
						<p>
							Předseda a hlavní mozek
						</p>
					</b-container>
				</b-col>
			</b-row>
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/kuba.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>Jakub Jelínek - Zinek</h3>
						<p>
							Levá hemisféra a hlavní technik
						</p>
					</b-container>
				</b-col>
			</b-row>
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/sulfur.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>Vít Rakovský - Sulfur</h3>
						<p>
							Pravá hemisféra a hlavní teoretický fyzik
						</p>
					</b-container>
				</b-col>
			</b-row>			
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/matej.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>Matěj Jirsa</h3>
						<p>
							Vrchní šaman
						</p>
					</b-container>
				</b-col>
			</b-row>		
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/david.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>David Klement</h3>
						<p>
							Lidská kalkulačka
						</p>
					</b-container>
				</b-col>
			</b-row>	
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/klara.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>Klára Buriánková</h3>
						<p>
							Corpus callosum
						</p>
					</b-container>
				</b-col>
			</b-row>			
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img id='neznamy1' src="../assets/neznamy.png" style="width: 500px;">
					 <b-tooltip target="neznamy1" title="Vzhledem k povaze činnosti, kterou tento člen vykonává, si dotyčná osoba přeje být skryta"></b-tooltip>
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3 class='smallerh3'>Tato osoba si nepřeje být zmiňována ani spojována s tímto spolkem. Souhlasila ale se svým členstvím.</h3>
						<p>
							Opora, nosník a dvorní odhadce
						</p>
					</b-container>
				</b-col>
			</b-row>
			<b-row><b-col><h4><br><br>Dále máme několik adeptů na členství v různých fázích přijímacího řízení:<br><br></h4></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/lukas.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>Lukáš Gregora</h3>
						<p>
							Elektrotechnik
						</p>
					</b-container>
				</b-col>
			</b-row>
			<b-row><b-col><p> </p></b-col></b-row>
			<b-row>
				<b-col>
					<img src="../assets/einstein.png" style="width: 500px;">
				</b-col>
				<b-col>
					<b-container class='popis'>
						<h3>Albert Einstein</h3>
						<p>
							Teoretický fyzik a šprýmař
						</p>
					</b-container>
				</b-col>
			</b-row>	
		</div>
		<b-row><b-col><p> </p></b-col></b-row>			
		<b-row>
			<b-col>
				<h3>Pokud zde chybíte a myslíte si, že máte klubu co nabídnout, přihlašte se. Vaše přihláška bude ohodnocena a budete kontaktován.</h3>
			</b-col>
		</b-row>		
		<b-row>
			<b-col>
				<h3>V případě jakýchkoliv dotazů nás kontaktujte na adrese klubmatematiku@gmail.com.</h3>
			</b-col>
		</b-row>
	</div>
</template>

<style type="text/css">
	.popis {
		border: 2px solid black;
	}
	.smallerh3 {
		font-size: 20px;
	}
</style>
