<template>
	<div style='width: 96%;'>
		<h1>Přihláška</h1>
		<vue-friendly-iframe src="https://docs.google.com/forms/d/e/1FAIpQLScUawWde2KmhGgs8afHE80WuKOujS2A43t4lI9nisuvrjbwYQ/viewform?embedded=true" @load="onLoad" @document-load="onDocumentLoad">Loading...</vue-friendly-iframe>
	</div>
</template>

<style type="text/css">
	iframe {
		width: 80%;
		height: 800px;
	}
</style>