<template>
  <div id="app">
    <b-navbar class='navigationbar'>
      <b-navbar-brand>Klub matematiků</b-navbar-brand>
      <b-navbar-nav>
        <b-nav-item><router-link to='/' class='link'>Home</router-link></b-nav-item>
        <b-nav-item><router-link to='/clenove' class='link'>Členové</router-link></b-nav-item>
        <b-nav-item><router-link to='/prihlaska' class='link'>Přihláška</router-link></b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <router-view class='bodypart'></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
.navigationbar {
  border: 2px solid black;
  text-decoration: none;
  color: white;
}
.bodypart {
  margin-left: 15px;
  margin-top: 15px;
}
.link {
  color: black; 
}
.innerbody {
  max-width: 50%;
}
</style>
